@media only screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (max-width: 450px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (max-width: 380px) {
	html {
		font-size: 10px;
	}
}

@media only screen and (max-width: 180px) {
	html {
		font-size: 8px;
	}
}
